@import url("https://fonts.googleapis.com/css?family=Inter"); 

.filter-box {
    font-family: 'Inter';
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    background-color: #f9f9f9;
    border: solid #f9f9f9 0px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.2s ease-out;
    box-shadow: 1px 1px 2px rgb(193, 193, 193);
}

.dropbtn {
    font-family: "Inter";
    background-color: #f9f9f9;
    border: none;
    color: #19191D;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 90%;
    height: 100%;
    transition: max-height 0.2s ease-out;
}

.dropbtn:after {
    content: '\02795'; 
    font-size: 13px;
    float: right;
    padding-right: 10px;
    padding-top: 2px;
    margin-left: 5px;
}

.dropbtn:hover {
    background-color: #f9f9f9; 
}

.dropbtn:focus:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.dropdown {
    font-family: 'Inter';
    position: relative;
    display: inline-block;
}
  
.collapse-content {
    background-color: #f9f9f9;
    position: relative;
    font-weight: light;
    padding-left: 4px;
    padding-bottom: 0px;
    width: 80%;
    transition: max-height 0.3s ease-out;
    
}

.collapse-content a {
    color: rgb(72, 72, 72);
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.collapse-content a:hover {
    transform: scale(1.05);
}