@import url("https://fonts.googleapis.com/css2?family=Sarala");
:root {
    --selected-color: rgb(90, 174, 230);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: black;
    padding-right: 20px;
    z-index: 9999;
}

.logo {
    height: 40px;
    fill: white;
    cursor: pointer;
    margin: 0 2vw;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
}

.nav-link li a {
    width: 11vw;
    font-family: "Sarala" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-link li a:hover {
    color: var(--selected-color);
    transform: scale(1.2);
}

header input[type=text] {
    width: 20vw;
    margin: 0 20px 0 auto;
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 99px;
    background: url("../assets/NavBar/search.svg");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    background-size: 25px 25px;
    padding-left: 30px;
    background-color: #606060;
    color: white;
    transition: all 0.3s ease 0s;
}

header input[type=text]::placeholder {
    color: white;
}

header input[type=text]:focus {
    width: 22vw;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--selected-color);
    outline-offset: 3px;
}

.suffix {
    width: 30px;
    fill: white;
    cursor: pointer;
    margin: 0 10px 0 10px;
    transition: all 0.3s ease 0s;
}

.suffix:hover {
    fill: var(--selected-color);
    transform: scale(1.2);
}


.popup-link {
    text-decoration: none;
    color: white;
}


.li-popup {
    font-family: "Sarala" sans-serif;
    display: none;
    border-radius: 5px;
}

.account:hover .ul-popup .li-popup {
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    padding: 1rem 1rem 0.8rem 1rem;
    
    right: 55px;
    font-weight: 400;
}

.account:hover .ul-popup .li-popup:hover {
    font-weight: 600;
}

.li-cart {
    display: none;
}


.cart-summary:hover .ul-cart .li-cart{
    display:block;
    position: absolute;
    background-color: #f0f0f0;
    padding: 10px 10px 10px 10px;
    right: 20px;
    margin-top: 3px;
    width: 270px;
    height: 180px;
    border-radius: 4px;
    color: black;
    padding-left: 20px;
}

.header-cart {
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    width: 100px;
}

.item-cart {
    font-size: 12px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100px;
}

.cart-checkout {
    background-color: #F00;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.cart-checkout:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 1px rgb(193, 193, 193);
}