@import url("https://fonts.googleapis.com/css2?family=Sarala");

:root {
    --selected-color: rgb(90, 174, 230);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    top: 0;
    height: 70px;
    width: 100vw;
    background-color: black;
    padding-right: 20px;
    z-index: 9999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    height: 40px;
    fill: white;
    cursor: pointer;
    margin: 0 2vw;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
}

.nav-link li a {
    width: 11vw;
    font-family: "Sarala"sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-link li a:hover {
    color: var(--selected-color);
    transform: scale(1.2);
}

header input[type=text].searchbar {
    width: 20vw;
    margin: 0 20px 0 auto;
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 99px;
    background: url("../assets/NavBar/search.svg");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    background-size: 25px 25px;
    padding-left: 35px;
    background-color: #606060;
    color: white;
    transition: all 0.3s ease 0s;
}

header input[type=text].searchbar::placeholder {
    color: white;
}

header input[type=text]:focus,
header input[type=password]:focus {
    width: 22vw;
    box-shadow:
        0px 0px 10px var(--selected-color),
        0px 0px 10px var(--selected-color);
    outline: none
}

.suffix {
    width: 30px;
    fill: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.suffix:hover {
    fill: var(--selected-color);
}

.account {
    position: relative;
    margin: 0 10px 0 10px;
}

.account-hover {
    display: none;
}

.account:hover .account-hover {
    display: block;
    width: 100px;
    position: absolute;
    top: 40px;
    right: calc(50% - 50px);
    padding-block: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: hidden;
    background: black;
}

.account:hover .account-hover .row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.44px;
    cursor: pointer;
}

.account:hover .account-hover .row:hover {
    background: rgb(28, 143, 209);
}

.cart {
    position: relative;
    margin: 0 10px 0 10px;
}

.cart-hover {
    display: none;
}

.cart-hover .container {
    height: 350px;
    overflow-y: scroll;
}

.cart:hover .cart-hover {
    display: block;
    position: absolute;
    width: 510px;
    top: 40px;
    right: 0;
    background: #F8F8F8;
    box-shadow:
        0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.cart:hover .cart-hover .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cart:hover .cart-hover .row .img-wrapper {
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    border-radius: 5px;
    margin-right: 20px;
}

.cart:hover .cart-hover .row .img-wrapper img {
    height: 75px;
    width: auto;
}

.cart:hover .cart-hover .row .desc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    width: 250px;
    margin-right: 15px;
}

.cart:hover .cart-hover .row .desc .name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
}

.cart:hover .cart-hover .row .desc .perk-container {
    display: flex;
    padding: 5px 10px;
    width: 100%;
}

.cart:hover .cart-hover .row .desc .perk-container .perk-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px 0 7px;
    margin: 0 5px 0 0;
    width: fit-content;
    height: 20px;
    background: var(--perk-background);
    color: var(--perk-color);
    font-family: Roboto;
    font-size: 9px;
    border-radius: 4px;
}

.cart:hover .cart-hover .row .desc .price {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.0075em;
}

.cart:hover .cart-hover .last-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart:hover .cart-hover .last-row .total-label {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    margin-left: 10px;
    /* or 30px */

    color: #595959;
}

.cart:hover .cart-hover .last-row .total-label span {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 158%;
    /* or 32px */
    letter-spacing: 0.0075em;

    /* Gray / 60 */

    color: #000000;
}

.cart:hover .cart-hover .last-row button {
    width: 120px;
    height: 35px;
    left: 0px;
    top: 0px;
    margin: 0 10px 0 auto;

    background: rgb(255, 32, 32);
    border-radius: 5px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 158%;
    border: none;
    cursor: pointer;
    /* or 32px */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.0075em;

    color: #FFFFFF;
    transition: all 0.2s ease 0s;
}

.cart:hover .cart-hover .last-row button:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-1px, -1px)
}

.cart:hover .cart-hover .last-row button:active {
    filter: grayscale(25%);
    transform: translate(0, 0);
}