@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
    --screen-width: 1300px;
    --padding-lr: 100px;
    --secondary-background-color: #F9F9F9;
    --selected-color: #505050;
}
  
.headline {
    font-family: "Inter";
    font-weight: 500;
    color: #505050;
    margin-top: 8px;  
}

.add-button {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    background-color: #f5f5f5;
    border-color: #aeaeae;
    border-width: 1px;
}

.add-button:hover {
    transform: scale(1.02);
    background-color: #aeaeae;
}

.my-cart {
    width: 10vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0.5em;
    font-weight: bold;
    text-align: start;
    border-color: #aeaeae;
    color: #4b4b4b;

    background: url("../assets/NavBar/cart-grey.svg");
    background-repeat: no-repeat;
    background-position: 90% 40%;
    background-size: 30px 25px;

    box-shadow: 2px 2px 2px rgb(193, 193, 193);
}

.my-cart:hover {
    transform: scale(1.02);
}

.sort-button {
    /* display: inline-block; */
    width: max-content;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 0.5em;
    font-weight: bold;
}

.sort-button:hover {
    transform: scale(1.02);
}

.option-button {
    /* display: inline-block; */
    width: max-content;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
    font-weight: 600;
    font-size: small;
    background-color: #EDEDF0;
}

.option-button:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 2px rgb(193, 193, 193);
}

.option-button:focus-visible {
    transform: scale(1.04);
    outline-color: #F9F9F9;
}


.option-button:active {
    outline: none !important;
    background-color: #6f6f6f;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.home-container {
    padding: 140px var(--padding-lr) 70px var(--padding-lr);
    width: var(--screen-width);
    margin: 0 auto;
}

.col-9 {
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 1%;
    box-shadow: 2px 2px 2px rgb(193, 193, 193);
    margin-left: 0vw;
}

.col-2 {
    /* background-color: #F9F9F9;
    padding: 10px;
    border-radius: 1%; */
    margin-right: 2vw;
    text-align: center;
    /* box-shadow: 2px 2px 2px rgb(193, 193, 193); */
}

.caption-img {
    margin-top: 1vh;
    margin-left: 0vw;
    
}

.phoneName {
    font-weight: 600;
    font-size: medium;
}

.img-phone {
    height: 70%;
    margin-top: 1vh;
    cursor: pointer;
}

.main {
    height: 100vh;
    margin-bottom: 10vh;
    padding: 2px;
    margin-left: 5vw;
}
.product {
    border-radius: 3%;
    height: 22vh;
    padding: 0.5vw;
    text-align: center;
    align-content: center;;
    margin-bottom: 3vh;
    /* border: 1px solid rgb(237, 237, 237) !important; 
    margin-bottom: 2vh;
    background-color: rgb(252, 252, 252);*/
}

.product:hover {
    padding-bottom: 4vh;
    transform: scale(1.02);
    box-shadow: 3px 3px 2px rgb(193, 193, 193);
    offset: 3px;
} 