@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700');

:root {
    --dark-background-color: #F1F1F1;
    --grey-text-color: #505050;
    --filter-color: #f8f8f8
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search {
    position: relative;
    width: 60vw;
    height: 60px;
    margin-left: 13%;
}

.search input[type="text"] {
    height: 100%;
    width: 100%;
    padding: 6px;
    font-size: 25px;
    border: none;
    border-radius: 99px;
    background: url("../assets/ProductPage/search.svg");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    background-size: 40px 40px;
    padding-left: 60px;
    background-color: var(--dark-background-color);
    color: var(--grey-text-color);
    transition: all 0.3s ease 0s;
}

.search input[type=text]::placeholder {
    color: var(--grey-text-color);
}

.search svg {
    --size: 24px;
    position: absolute;
    right: 20px;
    width: var(--size);
    height: var(--size);
    top: calc(50% - var(--size) / 2);
    cursor: pointer;
}


.main-container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
}

.main-container .filter {
    grid-column: 3 / 6;
    grid-row-start: 1;
    height: 1000px;
    /* background: green; */
}

.main-container .filter .label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Quicksand;
    font-weight: 800;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 50px;
    width: 100%;
    height: 60px;
    border: 1px solid #9C9C9C;
    border-radius: 8px;
}


.main-container .filter .label svg {
    margin-right: 20px;
}


.main-container .filter .item {
    font-family: Inter;
    font-weight: 500;
    padding: 10px;
    min-height: 40px;
    width: 100%;
    margin: 25px 0 25px 0;
    background: var(--filter-color);
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}


.expand-button {
    width: 12px;
    height: 8px;
    float: right;
    margin-top: 6px;
}

/*
Custom checkbox
*/
.check-container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin: 15px 0 0 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid #4A4B57;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    background-color: #4A4B57;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-container .products {
    grid-column: 6 / 17;
    grid-row-start: 1;
    background: red;
    height: 100px;
}