@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700');

:root {
    --dark-background-color: #F1F1F1;
    --grey-text-color: #505050;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
}