@import url("https://fonts.googleapis.com/css2?family=Sarala");
:root {
    --selected-color: #505050;
}

input[type=text]{
    width: 78vw;
    margin: auto 20px auto auto;
    padding: 10px;
    font-size: 18px;
    border: none;
    text-indent: 10px;
    border-radius: 99px;
    background: url("../assets/NavBar/search-grey.svg");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    background-size: 25px 25px;
    padding-left: 30px;
    background-color: #F1F1F1;
    color: #505050;
    border-color: #505050;
    transition: all 0.3s ease 0s;
}

input[type=text]::placeholder {
    color: #505050;
}

input[type=text]:focus {
    width: 80vw;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--selected-color);
    outline-offset: 3px;
}
