.form-body {
    margin: 0px;
    height: 100vh;

    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;

    background-image: url('../assets/phonebg.png');
    background-size: cover;
}

.required {
    color: rgba(182, 28, 28, 0.817);
    margin-left: 2px;
}

input[type=text], input[type=password], button[type=submit] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin: 0px 0px 10px 10px;
    font-size: 14px;
    text-indent: 10px;
} 

button[type=submit] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #04C35C;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #f9f9f9;
    background: #04C45C;
    border-radius: 5px;
}


input[type=text]:focus {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}


.form-signup {
    /* background-color: red; */
    height: 500px;
    width: 330px;
    margin-left: 0vw;
    display: block;
    position: relative;
}

.form-signup:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 10px;
    height: 505px;
    width: 360px;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    z-index: 1;
    box-shadow: 4px 4px 4px rgb(193, 193, 193) 4px 4px 4px rgb(193, 193, 193);
    opacity: 30%;
    background-color: #fefefe;
}

.form-signup .form-inner {
    position: relative;
    display: block;
    padding: 30px;
    z-index: 2;
    /* width: 122%;
    height: 96%;
    border-radius: 5px;
    opacity: 90%;
    background-color: #999; */
}

.h2-signup {
    position: relative;
    text-align: center;
    color: #222;
    font-size: 18px;
    font-weight: 750;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.form-signup .form-inner .form-group {
    display: block;  
}



.form-signup .form-inner .form-group input {
    display: block;
    width: 90%;
    padding: 10px 10px 10px 10px;
    background-color: #fafafa;
    float: left;
    border-radius: 8px;
    transition: 0.4s;
    margin-bottom: 15px;
}

.form-signup .form-inner .form-group input:focus {
    display: block;
    
    padding: 10px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: 0.4s;
    margin-bottom: 15px;
    
}


/* Login with google button */

.login-google {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #f9f9f9;


    background: url("../assets/Google_Logo.svg");
    background-repeat: no-repeat;
    background-position: 7% 50%;
    background-size: 17px 17px;

    background-color: #444;
    border-radius: 5px;
}

.button {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button:hover {
    transform: scale(1.02);
}

.login-google:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 2px rgb(193, 193, 193);
    offset: 3px;
}


.login:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 2px rgb(193, 193, 193);
    offset: 3px;
}

.joinnow {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}

.joinfree {
    text-decoration: none;
    color: rgb(43, 82, 120);
}

.joinnow:hover {
    transform: scale(1.02);
}



.forgotpass:hover {
    transform: scale(1.02);
}

/* Remember Me checkbox */
input[type=checkbox] {
    width: auto;
    height: auto;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #fafafa;
    border: solid #b1b1b1 2px;
    margin-top: 3px;
    margin-left: 12px;
    float: left;
}

.form-additional label {
    color: #444;
    font-size: 12px;
    margin-left: 10px;
}

input[type=checkbox]:checked {
    background-color: #fafafa;
}

input[type=checkbox]:hover {
    transform: scale(1.1);
}

.form-inner .form-group label {
    display: block;
    color: #444;
    font-size: 12px;
    transition: 0.4s;
    margin: 0px 0px 5px 10px;
}

.form-inner .form-group:focus-within label {
    font-size: 14px;
    font-weight: 900;
} 
